In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)

In [2]:
csv_completo = pd.read_csv('csv_completo.csv')
csv_completo.head()
csv_completo.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'education', 'educationfield', 'employeecount', 'employeenumber',
       'distancefromhome(miles)', 'environmentsatisfaction', 'gender',
       'hourlyrate', 'jobinvolvement', 'joblevel', 'jobrole',
       'jobsatisfaction', 'maritalstatus', 'monthlyincome', 'monthlyrate',
       'numcompaniesworked', 'over18', 'overtime', 'percentsalaryhike',
       'performancerating', 'relationshipsatisfaction', 'standardhours',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager',
       'sameasmonthlyincome', 'datebirth', 'salary', 'roledepartament',
       'numberchildren', 'remotework'],
      dtype='object')

# empezamos con la gestión de nulos de las columnas de la 1 a la 10:

In [ ]:
## columna 'businesstravel':
# veo si el departamento o el role tiene algo que ver:
csv_completo[['businesstravel', 'department', 'jobrole']]
csv_completo.groupby('businesstravel')['department'].value_counts() # no da informacion importante

businesstravel     department
non-travel         research & development     47
                   sales                      34
                   human resources             2
travel_frequently  research & development    101
                   sales                      50
                   human resources             8
travel_rarely      research & development    374
                   sales                     167
                   human resources            31
Name: count, dtype: int64

In [ ]:
csv_completo.groupby('businesstravel')['distancefromhome(miles)'].value_counts()# tampoco
csv_completo.groupby('businesstravel')['jobinvolvement'].value_counts()# tampoco
csv_completo.groupby('businesstravel')['joblevel'].value_counts()# tampoco
csv_completo.groupby('businesstravel')['performancerating'].value_counts()# tampoco
csv_completo.groupby('businesstravel')['yearsincurrentrole'].value_counts() # nada
csv_completo.groupby('businesstravel')['remotework'].value_counts()# muy igualado
# asi que en principio no puedo relacionarlo con ninguna columna y rellenarlo con la mediana seria inventarselo asi que sera unkown

businesstravel     remotework
non-travel         yes            59
                   no             34
travel_frequently  yes            98
                   no             70
travel_rarely      yes           388
                   no            228
Name: count, dtype: int64

In [23]:
csv_completo['businesstravel'].value_counts() # decido imputar los nulos por la moda que en este caso es travel_rarely

businesstravel
travel_rarely        1417
travel_frequently     168
non-travel             93
Name: count, dtype: int64

In [5]:
csv_completo['businesstravel'].fillna(csv_completo['businesstravel'].mode()[0], inplace=True)

In [17]:

## columna 'department':


departamentos = {'sales executive': 'sales', 'research scientist': 'research & development', 
                 'laboratory technician': 'research & development', 'manufacturing director': 'research & development', 
                 'healthcare representative': 'research & development', 
                 'sales representative': 'sales', 'research director': 'research & development',
                 'human resources': 'human resources'} # diccionario para rellenar 'deparment' en base a 'jobrole'
def department(jobrole):
    return departamentos.get(jobrole, None) # funcion para agregar los departamentos o ignorar

csv_completo['department'] = csv_completo['jobrole'].apply(department)

In [ ]:
csv_completo['department'] = csv_completo['department'].fillna('Executive Team') #los nan faltantes son de manager asi que los añado en una nueva categoria como parte del equipo ejecutivo

In [ ]:
csv_completo[['department','jobrole','roledepartament']]

In [21]:
csv_completo['department'].value_counts().sum()

1678

In [22]:
csv_completo['jobrole'].value_counts().sum()

1678

In [25]:
csv_completo['distancefromhome(miles)'].isna().sum()

0

la columna de educationfield con 774 nan la completo con 'unknown'

In [26]:
csv_completo['educationfield'] = csv_completo['educationfield'].fillna("unknown")

In [27]:
csv_completo['educationfield'].value_counts()

educationfield
unknown             774
life sciences       367
medical             286
marketing           106
technical degree     70
other                63
human resources      12
Name: count, dtype: int64

se puede eliminar la columna roledepartament