En primer lugar hago las importaciones, en este caso solamente panda

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None) # configuración para ver todas las filas del csv

In [ ]:
# leo el csv original
# datos = pd.read_csv("raw_data.csv", index_col=0)

In [ ]:
# lo convierto en un csv de 10 columnas
# datos = data.iloc[0:,:10:]
# datos.to_csv('columnas_1_10.csv', index=True)

#Age: Edad del empleado: tipo objeto, no int, no se ven NaN pero tengo que seguir explorando, en la fila 31 aparece escrita la edad: forty-seven y hay mas asi


#Attrition: Indica si el empleado dejó la empresa (Yes/No): tipo objeto, en principio no hay datos raros y todo es yes o no y no faltan datos


#BusinessTravel: Frecuencia de viajes laborales (e.g., travel_rarely): tipo , aparecen muchisimos NaN en el csv esta vacio no hay ningun valor, el resto esta expresado normal


#DailyRate: Tarifa diaria estimada para clientes, calculada en base al salario: tipo , son decimales demasiado largos, se deberia hacer un round


#Department: Departamento en el que trabaja el empleado: muchos null, demasiados, y aparecen research development y sales, rrhh unicamente


#Distancefromhome: distancia en millas o kilometro desde el hogar al trabajo: tipo , hay algunos valores negativos, supongo que habra que quitar el - porque los valores estaran bien y especificar millas o km


#education: nivel educativo del empleado en escala numerica: tipo , son numeros pequeños, no hay nulos en principio y no se que significa xd


#educationfield: campo de estudio academico de empleado: tipo , muchos nulos y algun 'otro'


#employeecount: : tipo , en principio todo bien, comprobar si hay nulos


#employeenumber: en principio todo bien, cambiar tipo quiza haya algun duplicado "employeenumber": Entendemos que cada fila es un empleado por lo que es necesario modificar 64 valores que son duplicados (Tenemos empleados entre 1-1614, los demás son los 64 duplicados). Todos son int

In [ ]:
# cambiamos los valores por numeros: 
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('forty-seven', '47')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('fifty-eight', '58')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('thirty-six', '36')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('fifty-five', '55')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('fifty-two', '52')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('thirty-one', '31')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('thirty', '30')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('twenty-six', '26')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('thirty-seven', '37')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('thirty-two', '32')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('twenty-four', '24')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('30-seven', '37')
# df_10_columnas['age'] = df_10_columnas['age'].str.replace('30-two', '32')

# por ultimo cambiamos el tipo:
# df_10_columnas['age'] = df_10_columnas['age'].astype(int)

# comprobar los unicos
# df_10_columnas['age'].unique()

In [ ]:
# Attrition: Indica si el empleado dejó la empresa (Yes/No): tipo objeto, en principio no hay datos raros y todo es yes o no y no faltan datos
# se deja asi
# df_10_columnas['attrition'].unique()
# df_10_columnas['attrition'].value_counts()
# df_10_columnas['attrition'].value_counts().sum()  # comprobadisimo

In [ ]:
#BusinessTravel: Frecuencia de viajes laborales (e.g., travel_rarely): tipo , aparecen muchisimos NaN en el csv esta vacio no hay ningun valor, el resto esta expresado normal
# df_10_columnas['businesstravel'].unique()
# df_10_columnas['businesstravel'].value_counts() 
# travel_rarely 616, travel_frequently 168, non-travel 93, NaN 801

In [ ]:
# DailyRate: Tarifa diaria estimada para clientes, calculada en base al salario: tipo , son decimales demasiado largos, se deberia hacer un round
# df_10_columnas['dailyrate'] = round(df_10_columnas['dailyrate'], 2)
# df_10_columnas['dailyrate'].unique() # lo dejo redondeado a 2 y ahora compruebo si hay algun nulo
# df_10_columnas.info() 
# 1678 non-null y es float asi que chachi

In [ ]:
# Department: Departamento en el que trabaja el empleado: muchos null, demasiados, y aparecen research development y sales, rrhh unicamente
# df_10_columnas['department'].unique()
# df_10_columnas['department'].value_counts() 
# research 203, sales 93, rrhh 16 y NaN 1366 # raro que no esten registrados los departamentos de tantos empleados

In [ ]:
#Distancefromhome: distancia en millas o kilometro desde el hogar al trabajo: tipo , hay algunos valores negativos, supongo que habra que quitar el - porque los valores estaran bien y especificar millas o km
# df_10_columnas['distancefromhome(miles)'] = df_10_columnas['distancefromhome'].astype(str) # especifico en miles por ser del sistema metrico de EEUU de donde proviene la empresa y lo convierto en str porque si no no me deja modificarlo para quitarle el -
# df_10_columnas['distancefromhome(miles)'] = df_10_columnas['distancefromhome(miles)'].str.replace('-','') # le quito el -
# df_10_columnas['distancefromhome(miles)'] = df_10_columnas['distancefromhome(miles)'].astype(int) #lo vuelvo a int
# df_10_columnas = df_10_columnas.drop('distancefromhome', axis=1) # borramos la anterior sin el nombre cambiado

In [ ]:
# education: nivel educativo del empleado en escala numerica: tipo , son numeros pequeños, no hay nulos en principio y no se que significa xd
# df_10_columnas['education'].unique() # no hay Nan
# entiendo que habra que relacionar la educacion de cada uno con el sueldo y demas
# df_10_columnas['education'].value_counts() 
# 1: 186 empleados, 2: 322, 3: 649, 4: 461, 5:60 # comprobar si la escala es desc o asc

In [ ]:
# educationfield: campo de estudio academico de empleado: tipo , muchos nulos y algun 'otro'
# df_10_columnas['educationfield'].unique() # puede estar directamente relacionado con la education y sueldo y demas, comprobar que los nan de que nivel de education son
# df_10_columnas['educationfield'].value_counts() 
# Life Sciences 367, Medical 286, Marketing 106, Technical Degree 70, Other 63, Human Resources 12, NaN 774

In [ ]:
# "employeenumber": Entendemos que cada fila es un empleado por lo que es necesario modificar 64 valores que son duplicados (Tenemos empleados entre 1-1614, los demás son los 64 duplicados). Todos son int
# df_10_columnas['employeenumber'].unique() # hasta 1614 a no ser que se salten numeros
# df_10_columnas['employeenumber'].value_counts()
# df_10_columnas['employeenumber'].duplicated().sum() 
# 64 duplicados

Lista_numeros_repetidos
300     ,
159     ,
271     ,
1158    ,
191     ,
1060    ,
1245   ,
1243    ,
1567    ,
1568    ,
1569    ,
644     ,
864     ,
958     ,
1532    ,
1056    ,
1087   ,
61      ,
878     ,
1235    ,
293     ,
168     ,
1342   ,
969     ,
1268   ,
672     ,
663    ,
977    ,
564    ,
76      ,
178     ,
369    ,
755     ,
352     ,
1525    ,
1349    ,
108     ,
1339    ,
203    ,
1393    ,
824     ,
1030    ,
532     ,
1608   ,
9       ,
828    ,
1402    ,
1212    ,
932     ,
528    ,
1499    ,
1477    ,
526     ,
1324    ,
1048    ,
1326    ,
304     ,
853     ,
401     ,
112    ,
1370    ,
633     ,
1474    ,
1179    ,

Se repiten los datos porque hay varias entradas del mismo empleado, no podemos eliminar los duplicados ni darle id nuevos a las filas ya que puede ser informacion anonima de la empresa, asi que podemos solicitar a la empresa recoger los datos por fecha y asi si se repite el di nos podemos quedar con la ultima encuesta de satisfaccion, tambien podemos tener en cuenta o estudiar como ha cambiado la situacion del empleado respecto a su sueldo, el tiempo que lleva etc de los las diferentes entradas

In [ ]:
# cambiar todo a minúsculas y quito espacios:
# df_10_columnas['department'] = df_10_columnas['department'].str.lower().str.strip()
# df_10_columnas['educationfield'] = df_10_columnas['educationfield'].str.lower()

In [ ]:
# df_10_columnas = df_10_columnas.sort_values(by='employeenumber') # este codigo ordena por el numero de empleado, interesante cuando ya lo hayamos unido todos los csv, no antes