#### INFORME DE IMPUTACIÓN DE NULOS POR COLUMNA 

De momento incluídas (21-30)

#### COLUMNA OVER 18: Indica si el empleado tiene más de 18 años (y).

- Índice 21
- Nulos modificados por 'y', ya que al comparar con la columna "age" comprobamos que todos los empleados son Over18.

In [ ]:
df['over18'] = df['over18'].fillna('y')

#### COLUMNA OVERTIME: Indica si el empleado trabaja horas extras (yes, no).

- Índice 22
- 696 valores nulos -> Imputación por moda (valor más frecuente ('No')):

In [ ]:
df['overtime'] = df['overtime'].fillna('no')

#### COLUMNA PERFORMANCE RATING: Evaluación de desempeño en una escala numérica (1, 2, 3, 4).

- Índice 24
- 200 valores nulos
- Se trata de una escala ordinal (1-4), pero solo tenemos valores 3.0 y 4.0. Imputación valores nulos por "unknown":

In [ ]:
df['performancerating'] = df['performancerating'].fillna("unknown")

#### COLUMNA STANDARD HOURS: Clasificación de jornada (full time, part time).

- Índice 26
- 351 valores nulos
- Imputación valores nulos por "fulltime" (anteriormente fulltime no se registraba):

In [ ]:
df['standardhours'].fillna('fulltime', inplace=True)

#### COLUMNA TOTAL WORKING YEARS: Años totales de experiencia laboral.

- Índice 28
- 549 valores nulos
- Imputación por la media:

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean') 
df['totalworkingyears'] = imputer.fit_transform(df[['totalworkingyears']])
df['totalworkingyears']=df['totalworkingyears'].round(2)

#### COLUMNA WORK LIFE BALANCE: Nivel de balance entre vida personal y laboral (1, 2, 3, 4).

- Índice 30
- 114 valores nulos
- Imputación por moda (valor más frecuente: 3)

In [ ]:
df['worklifebalance'].fillna(df['worklifebalance'].mode()[0], inplace=True)

Columnas excluídas en mi informe de nulos, no NaN:

- PercentSalaryHike
- RelationshipSatisfaction
- StockOptionLevel
- TrainingTimesLastYear